<div class="footer-1 ">
<nav class="footer-1 container navbar navbar-expand-lg">
    <div class="container-fluid">
      <img src="/assets/images/images-removebg-preview.png" alt="" width="150px">
    </div>
    <li class="news">
    <h6 id="text">NEW TO JUMIA?</h6>
    <h6 id="text-1">Subscribe to our newsletter to get updates on our latest offers!</h6>
    <form class="d-flex" role="search">
          <input class="newsletter form-control me-2" type="search" placeholder="Enter E-mail Address" aria-label="Search">
          <button class="button-1 btn btn-outline-success" type="submit">MALE</button>
          <button class="button-2 btn btn-outline-success" type="submit">FEMALE</button>
    </form>
</li>
  <div>
      <li>
        <h6 id="text">DOWNLOAD JUMIA FREE APP</h6>
        <h6 id="text-1">Get access to exclusive offers!</h6>
        <form class="d-flex" role="search">
              <button class="button-1 btn btn-outline-success" type="submit">MALE</button>
              <button class="button-2 btn btn-outline-success" type="submit">FEMALE</button>
        </form>
    </li>
  </div>
</nav>
</div>