<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <img class="banner" src="assets/images/Free-delivery-top-strip.gif" alt="" width="100%">
</div>
</nav>
<nav class="services navbar bg-light">
    <div class="container">
      <a class="navbar-brand d-flex" href="#">
        <img src="assets/images/orange star.png" alt="" width="20px" height="15px">
        <h5 id="sell">Sell on Jumia</h5>
      </a>
      <div class="d-flex justify-content-center products">
        <div class="j-products">
        <img src="assets/images/Jumia-Logo.png" alt="" width="60px" height="">
      </div>
      <div class="j-products">
        <img class="pay" src="assets/images/jumia-pay-white.png" alt="" width="60px">
      </div>
      <div class="j-products">
        <img class="food" src="assets/images/jumia-food-removebg-preview.png" alt="" width="60px">
      </div>
      <div class="j-products">
        <img class="party" src="assets/images/jumia-party-removebg-preview.png" alt="" width="60px">
      </div>
      <div class="j-products">
        <img class="prime" src="assets/images/Prime.png" alt="" width="60px">
      </div>
      <div class="j-products">
        <img class="logistics" src="assets/images/Jumia-Logistics-removebg-preview.png" alt="" width="60px" height="25px">
      </div>
    </div>
    </div>
  </nav>