<div class="container">
    <div class="">
    <nav class="navbar bg-light">
        <div class="flash">
          <a class="flash-sales navbar-brand" href="#">
            <i class="flash-icon fa-solid fa-tag"></i> Flash Sales
          </a>
        </div>
      </nav>
    </div>
    <div class="w-100 d-flex slides5 overflow-auto">
        <img src="assets/images/domestos.jpg" class="slide-img5 d-block" alt="...">
        <img src="assets/images/knorr.jpg" class="slide-img5 d-block" alt="...">
        <img src="assets/images/omo.jpg" class="slide-img5 d-block" alt="...">
        <img src="assets/images/sunlight.jpg" class="slide-img5 d-block" alt="...">
        <img src="assets/images/vaseline.jpg" class="slide-img5 d-block" alt="...">
        <img src="assets/images/omo-protect.jpg" class="slide-img5 d-block" alt="...">
        <img src="assets/images/omo.jpg" class="slide-img5 d-block" alt="...">
        <img src="assets/images/lux.jpg" class="slide-img5 d-block" alt="...">
        <img src="assets/images/omo.jpg" class="slide-img5 d-block" alt="...">
        <img src="assets/images/vaseline.jpg" class="slide-img5 d-block" alt="...">
        <img src="assets/images/closeup.jpg" class="slide-img5 d-block" alt="...">
    </div>
</div>