<div class="container">
    <div class="w-100 d-flex slides overflow-auto">
        <img src="assets/images/jumia-black-friday_220x220.png" class="slide-img d-block" alt="...">
        <img src="assets/images/bestprice_220x220.png" class="slide-img d-block" alt="...">
        <img src="assets/images/free-delivery.png" class="slide-img d-block" alt="...">
        <img src="assets/images/Traditional-&-Cultural-Wear.png" class="slide-img d-block" alt="...">
        <img src="assets/images/phones-tablets_220x220.png" class="slide-img d-block" alt="...">
        <img src="assets/images/halfprice-store_220x220v2.png" class="slide-img d-block" alt="...">
        <img src="assets/images/fashion_220x220.png" class="slide-img d-block" alt="...">
        <img src="assets/images/Kitchen-Taps.png" class="slide-img d-block" alt="...">
        <img src="assets/images/computing_220x220.png" class="slide-img d-block" alt="...">
        <img src="assets/images/electronics_220x220.png" class="slide-img d-block" alt="...">
        <img src="assets/images/groceries_220x220.png" class="slide-img d-block" alt="...">
        <img src="assets/images/home-office_220x220.png" class="slide-img d-block" alt="...">
    </div>
</div>

<div class="container">
    <div class="">
    <nav class="navbar bg-light">
        <div class="recom">
          <a class="recommended navbar-brand" href="#">
              Recommended for you
          </a>
        </div>
      </nav>
    </div>
    <div class="w-100 d-flex slides2 overflow-auto">
        <img src="assets/images/airtel-mifi1.jpg" class="slide-img2 d-block" alt="...">
        <img src="assets/images/mtn-mifi1.jpg" class="slide-img2 d-block" alt="...">
        <img src="assets/images/4glte.jpg" class="slide-img2 d-block" alt="...">
        <img src="assets/images/mtn-latest.jpg" class="slide-img2 d-block" alt="...">
        <img src="assets/images/universal-adapter.jpg" class="slide-img2 d-block" alt="...">
        <img src="assets/images/mtn-ops.jpg" class="slide-img2 d-block" alt="...">
        <img src="assets/images/mtnqhubeka.jpg" class="slide-img2 d-block" alt="...">
        <img src="assets/images/mtnqhubeka.jpg" class="slide-img2 d-block" alt="...">
        <img src="assets/images/mtn-ops.jpg" class="slide-img2 d-block" alt="...">
        <img src="assets/images/mtn-mifi1.jpg" class="slide-img2 d-block" alt="...">
        <img src="assets/images/airtel-mifi1.jpg" class="slide-img2 d-block" alt="...">
        <img src="assets/images/universal-adapter.jpg" class="slide-img2 d-block" alt="...">
    </div>
</div>

<div class="container">
    <div class="">
    <nav class="navbar bg-light">
        <div class="flash">
          <a class="flash-sales navbar-brand" href="#">
            <i class="flash-icon fa-solid fa-tag"></i> Flash Sales
          </a>
        </div>
      </nav>
    </div>
    <div class="w-100 d-flex slides4 overflow-auto">
        <img src="assets/images/infinix-smart.jpg" class="slide-img3 d-block" alt="...">
        <img src="assets/images/smart-fashion.jpg" class="slide-img3 d-block" alt="...">
        <img src="assets/images/mens-casual.jpg" class="slide-img3 d-block" alt="...">
        <img src="assets/images/boxers.jpg" class="slide-img3 d-block" alt="...">
        <img src="assets/images/running-shoes.jpg" class="slide-img3 d-block" alt="...">
        <img src="assets/images/blender.jpg" class="slide-img3 d-block" alt="...">
        <img src="assets/images/fashion-watch.jpg" class="slide-img3 d-block" alt="...">
        <img src="assets/images/running-shoes.jpg" class="slide-img3 d-block" alt="...">
        <img src="assets/images/air-fryer.jpg" class="slide-img3 d-block" alt="...">
        <img src="assets/images/mens-casual.jpg" class="slide-img3 d-block" alt="...">
    </div>
</div>

<div class="container">
    <div class="">
    <nav class="navbar bg-light">
        <div class="buy">
          <a class="buy-more navbar-brand" href="#">
              Buy more save more Extra 5% when you buy 2+ items
          </a>
        </div>
      </nav>
    </div>
    <div class="w-100 d-flex slides4 overflow-auto">
        <img src="assets/images/jameson.jpg" class="slide-img4 d-block" alt="...">
        <img src="assets/images/martell.jpg" class="slide-img4 d-block" alt="...">
        <img src="assets/images/omo.jpg" class="slide-img4 d-block" alt="...">
        <img src="assets/images/nexus.jpg" class="slide-img4 d-block" alt="...">
        <img src="assets/images/so-klin.jpg" class="slide-img4 d-block" alt="...">
        <img src="assets/images/mixer.jpg" class="slide-img4 d-block" alt="...">
        <img src="assets/images/hisense.jpg" class="slide-img4 d-block" alt="...">
        <img src="assets/images/clipper.jpg" class="slide-img4 d-block" alt="...">
        <img src="assets/images/oven.jpg" class="slide-img4 d-block" alt="...">
        <img src="assets/images/milo.jpg" class="slide-img4 d-block" alt="...">
    </div>
</div>